.button {
    display: inline-block;
    font-family: $secondary-font;
    font-size: 1.6rem;
    font-weight: 600;
    color: $white;
    text-decoration: none;
    background: $primary;
    border-radius: 4px;
    line-height: 1.5;
    padding: .94em 2.8em;
    border: 2px solid $primary;
    cursor: pointer;
    &:hover {
        background: transparent;
        color: $primary;
    }
    &:active {
        background: $primary-100;
        color: $white;
    }
    &_align {
        &-center {
            display: block;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &_light {
        background: $secondary;
        border-color: $secondary;
        color: $black-100;
        &:hover {
            background: transparent;
            color: $white;
        }
        &:active {
            background: $secondary-200;
            border-color: $secondary-200;
            color: $black-100;
        }
    }
}

// MEDIA
@media screen and (max-width: 575px) {
    .button {
        font-size: 1.4rem;
    }
}