.advantages-section {
    background: image('lines.svg') no-repeat 50% / 85% auto;
    overflow: hidden;
    &__item {
        padding: 0;
        &:not(:last-child) {
            margin-bottom: 45px;
        }
    }
}

// MEDIA
@media screen and (max-width: 991px) {
    .advantages-section {
        background-size: auto 100%;
        &__item {
            &:not(:last-child) {
                margin-bottom: 52.5px;
            }
            &-col {
                margin-top: 12.5px;
                margin-bottom: 12.5px;
            }
            // &:nth-child(even) {
            //     & .section {
            //         &__note {
            //             text-align: right;
            //         }
            //         &__title {
            //             text-align: right;
            //         }
            //         &__content {
            //             text-align: right;
            //         }
            //     }
            // }
        }
    }
}