.contact-section {
    background: $primary image('contact-section-illustration.svg') no-repeat 50% / 100% auto;
    padding: 70px 0;
    overflow: hidden;
    &__title {
        color: $secondary;
        margin-bottom: 30px;
    }
    &__note {
        color: $white;
    }
}

// MEDIA
@media screen and (max-width: 991px) {
    .contact-section {
        background-size: cover;
        padding: 50px 0;
        padding-bottom: 70px;
    }
}