.contact-section {
    background: $primary image('contact-section-illustration.svg') no-repeat 50% / 100% auto;
    padding: 70px 0;
    overflow: hidden;
    &__title {
        color: $secondary;
        margin-bottom: 30px;
    }
    &__note {
        color: $white;
    }
}