.form {
    position: relative;
    &__row {
        @include flex(row, center);
    }
    &__field {
        width: 100%;
        &_width {
            &-50 {
                width: calc((100% - 25px) / 2);
            }
        }
        &-input {
            width: 100%;
            height: 65px;
            border: 3px solid $secondary-500;
            background: rgba($white, .1);
            &.wpcf7-not-valid {
                border-color: $error;
            }
        }
        &:not(:last-child) {
            margin-right: 25px;
        }
        & .wpcf7-not-valid-tip {
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
            font-size: 1.2rem;
            color: $error;
        }
        & .wpcf7-form-control-wrap {
            display: block;
        }
    }
    &__button {
        max-width: 190px;
        margin-top: 30px;
    }
    & .wpcf7-response-output {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        width: 100%;
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
        color: $white !important;
        font-size: 1.5rem !important;
    }
    & .ajax-loader {
        display: none;
    }
    &.submitting {
        opacity: .5;
        pointer-events: none;
    }
}

// MEDIA
@media screen and (max-width: 991px) {
    .form {
        &__row {
            flex-direction: column;
        }
        &__field {
            width: 100%;
            &_width {
                &-50 {
                    width: 100%;
                }
            }
            &:nth-child(n) {
                margin: 0;
            }
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            & .wpcf7-not-valid-tip {
                font-size: 1.1rem;
                top: calc(100% + 3px);
            }
        }
        & .wpcf7-response-output {
            font-size: 1.4rem !important;
        }
    }
}