.hero {
    position: relative;
    overflow: hidden;
    &__wrapper {
        position: relative;
        padding: 185px 0;
        padding-bottom: 120px;
        z-index: 1;
    }
    &__layer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $black-100 image('illustration.svg') no-repeat 50% / 100% auto;
        pointer-events: none;
    }
    &__title {
        margin: 0;
        font-weight: 600;
        font-size: 5.2rem;
        color: $white;
    }
    &__desc {
        position: relative;
        margin-top: 30px;
        &::before {
            content: '/';
            position: absolute;
            font-size: 4rem;
            font-weight: 600;
            color: $primary;
            left: 0;
            top: -20px;
        }
        & p {
            margin: 0;
            font-size: 1.4rem;
            line-height: 1.85;
            color: $white;
            max-width: 455px;
            &:first-child {
                text-indent: 30px;
            }
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    &__button {
        margin-top: 30px;
    }
    &__media {
        position: relative;
        left: 5%;
        max-width: 430px;
        &:last-child {
            left: 30%;
        }
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
}

// MEDIA
@media screen and (min-width: 991px) and (max-width: 1309px) {
    .hero {
        &__media {
            max-width: 315px;
        }
    }
}
@media screen and (max-width: 991px) {
    .hero {
        &__wrapper {
            padding: 120px 0;
            padding-bottom: 70px;
            &-col {
                &:not(:last-child) {
                    margin-bottom: 85px;
                }
            }
        }
        &__title {
            font-size: 4rem;
        }
        &__layer {
            background-size: cover;
        }
    }
}
@media screen and (max-width: 767px) {
    .hero {
        &__media {
            max-width: 350px;
            left: 0;
            &:last-child {
                left: 15%;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .hero {
        &__media {
            max-width: 250px;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
        &__title {
            font-size: 3.2rem;
        }
    }
}