// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Open Sans', sans-serif;
$secondary-font: 'Fira Code', sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$black: #263238;
$black-100: #191A1D;
$primary: #2C0BF1;
$primary-100: #260EB2;
$secondary: #F3BF53;
$secondary-100: #AB7C19;
$secondary-200: #DBA929;
$secondary-500: #F4C03B; 
$secondary-900: #F6F6F6;
$error: red;
