// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Open Sans', sans-serif;
$secondary-font: 'Fira Code', sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$black: #222;
